*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Poppins', sem serifa;
}

.cabeçalho {
    background-color: #00084b   ;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}

.cabecalho-imagem{
    width: 10%;
    height: 10%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image:  linear-gradient( #00084b,#000000);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 10;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}

.escola-imagem{
    width: 120px;
    height: 120px;
}

.estudante-titulo{
    text-align: center;
}

.bru{
    width: 120px;
    height: 120px;
}

.ely{
    width: 120px;
    height: 120px;
}

.mar{
    width: 120px;
    height: 120px;
}

.mig{
    width: 120px;
    height: 120px;

}

.estudante-div{
    text-align: center;
}